@import url(./theme.css);
@import '@unocss/reset/tailwind.css';
@unocss;



* {
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: var(--c-border-scrollbar) transparent;
}

html {
    font-variation-settings: normal;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}



::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--c-border-scrollbar);
    border-radius: 4px;
}




html,
body {
    font-family: 'Inter', sans-serif;
}


@media (prefers-color-scheme: dark) {
    .dark:root {
        color-scheme: dark;
    }
}